@model Player;
@{
    ViewData["Title"] = "Let's Play PIG!";

}

<div class="container">
    <header class="jumbotron">
        <div class="bg-info text-center text-white p-4 mb-4">
            <h1>@ViewBag.Title</h1>
        </div>
    </header>

    <div class="row">
        <div class="col">
            <ul class="list-group mb-3">
                <li class="list-group-item">
                    Player1:
                    <div class="row">
                        <button>New Game</button>
                    </div>
                </li>
                <li>Player2:</li>
            </ul>
        </div>

        <div class="col-3">
            <ul class="list-group">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
</div>
